<div class="container">
    <div class="row">
      <h3 class="text-center">{{ 'basket.title' | translate }}</h3>
      <p *ngIf="items.length === 0">{{ 'basket.noProducts' | translate }}</p>
      <table class="table">
        <tbody>
        <tr *ngFor="let item of items; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td><img src="{{ item.pathToImg }}" style="width: 60px" alt="Album cover"> </td>
          <td><strong>{{ item.title }}</strong></td>
          <td>{{ item.price | currency }}</td>
          <td><button class="btn btn-close" (click)="removeAlbum(item.id)"></button></td>
        </tr>
        </tbody>
      </table>
      <h5 class="text-end">Total price: {{ getTotalPrice() | currency }}</h5>
      <button class="btn btn-primary" *ngIf="getTotalPrice() > 0" routerLink="/payment">{{ 'basket.cash' | translate }}</button>
    </div>
</div>
