<div class="container" style="height: 42rem">
    <div class="row">

      <div class="col-sm-4" *ngFor="let album of albums">
        <div class="card text-center">
          <img
            src="{{ album.pathToImg }}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ album.title }}</h5>
            <p class="card-text">
                {{ album.description | translate}}
            </p>

            <button class="btn btn-primary" (click)="addAlbum(album)" [disabled]="isAlbumAdded(album.id)">{{ 'basket.add' | translate }}</button>
          </div>
        </div>
      </div>

      <div class="col-sm"></div>
    </div>
  </div>

