<div class="container" style="height: 42rem">
    <div class="row">

      <div class="col-sm-4">
        <div class="card text-center">
          <img
            src="assets/piano-solo.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Piano Solo</h5>
            <p class="card-text">
                {{ 'original-projects.piano-solo' | translate}}
            </p>
            <a href="#" class="btn btn-primary disabled"
              >{{ 'original-projects.unvailable' | translate}}</a
            >
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card text-center">
          <img
            src="assets/deep-blue.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Deep Blue</h5>
            <p class="card-text">
                {{ 'original-projects.deep-blue' | translate}}
            </p>
            <a
              href="https://www.youtube.com/watch?v=vUjWlBub8nA&list=OLAK5uy_mfr_rubTXtnoyWACdsNjuLnxyCRYrz5p8"
              class="btn btn-primary"
              target="_blank"
              >{{ 'original-projects.listen' | translate}}</a
            >
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card text-center">
          <img
            src="assets/words&tears.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Words & Tears</h5>
            <p class="card-text">
                {{ 'original-projects.words-and-tears' | translate}}
            </p>
            <a
              href="https://www.youtube.com/watch?v=uSSazAhaJsI"
              class="btn btn-primary"
              target="_blank"
              >{{ 'original-projects.listen' | translate}}</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

