<div class="container">
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img
          src="assets/about_photo.jpg"
          class="img-fluid rounded-start"
          alt="..."
          style="width: 420px"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body fst-italic" style="text-align: justify">
          <h5 class="card-title">{{ 'about.title' | translate }}</h5>
          <p>{{ 'about.p1' | translate }}</p>
          <p>{{ 'about.p2' | translate }}</p>
          <p>
            {{ 'about.p3-before-link' | translate }}
            <a href="original_projects.html">{{ 'about.p3-link' | translate }}</a>
            {{ 'about.p3-after-link' | translate }}
          </p>
          <p>{{ 'about.p4' | translate }}</p>
      </div>
    </div>
  </div>
</div>
</div>
