<div class="container">
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img
          src="assets/about_photo.jpg"
          class="img-fluid rounded-start"
          alt="..."
          style="width: 420px"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body fst-italic" style="text-align: justify">
          <h5 class="card-title">O sobie</h5>
          <p>
            Jestem kompozytorem, aranżerem a także instrumentalistą. Muzyką
            pasjonuję się od najmłodszych lat i jest ona dla mnie niezwykle
            ważną częścią życia i wyrażania emocji. Interesowałem i
            interesuję się nadal wieloma gatunkami muzycznymi, co pozwala mi
            poruszać się w różnorodnej stylistyce oraz komponować i
            aranżować utwory o dowolnym przeznaczeniu, składzie
            instrumentalnym i estetyce. Jako instrumentalista gram na
            gitarze elektrycznej, akustycznej i flamenco, a także na
            fortepianie i innych instrumentach klawiszowych. Żywo interesuję
            się możliwościami, brzmieniem i artykulacją gry instrumentów
            orkiestrowych czy etnicznych.
          </p>
          <p>
            W swojej muzyce łączę brzmienia gitar z nowoczesnymi brzmieniami
            systezatorów i elektronicznymi loopami, co wg mojego odczucia
            nadaje muzyce przestrzeni i nowoczesnej pulsacji. Zachęcam do
            zapoznania się z moją twórczością, a jeśli spodoba Ci się
            muzyka, będzie mi miło. Jeśli chcesz nawiązać współpracę,
            zamówić utwór, aranżację bądź dogranie partii solowej, możesz
            napisać lub zadzwonić.
          </p>
          <p>
            Tworzę, aranżuję i wykonuję muzykę o charakterze ilustracyjnym,
            filmowym, orkiestrowym i elektronicznym, jak większość
            dzisiejszych producentów muzycznych w głównej mierze korzystam z
            techniki samplingu, wirtualnych syntezatorów ale też
            instrumentów fizycznych - gitar elektrycznych, gitary klasycznej
            oraz tradycyjnych instrumentów klawiszowych. Niekiedy zapraszam
            do nagrań muzyków sesyjnych. Grywam recitale z muzyką gitarową,
            tworzę muzykę na potrzeby spektakli teatralnych, reaklam, filmów
            i prezentacji. Część mojego porfolio muzycznego możesz znaleźć
            na podstronie
            <a href="original_projects.html">Muzyka na zamówienie</a>, gdzie
            umieściłem kilka przykładowych kompozycji.
          </p>
          <p>
            Na stronie obok przykładów muzycznych realizowanych na zlecenie,
            znajdziesz nagrania z albumów -
            <b>Piano Solo</b> - będącym zbiorem lirycznych fortepianowych
            ballad, <b>Deep Blue</b> - ostatnio wydanego albumu - będącego
            instrumentalnym albumem łączącym brzmienie fortepianu i gitar z
            dźwiękami instrumentów etnicznych oraz elektronicznymi
            teksturami. Z kolei singiel <b>Words & Tears</b> to gitarowa
            ballada.
          </p>
          <p>
            Jestem także czynnym pedagogiem, nagrywam multimedialne kursy
            gry na gitarze elektrycznej ucząc bluesa, rocka, fusion i
            flamenco. Jeśli chesz dowiedzieć się więcej lub zapisać się na
            listę subskrybentów by otrzymywać materiały w postaci tablutatur
            oraz materiałów audio, zapraszam na stronę
            <a href="https://guitarschool.tomaszfraczek.com" target="_blank"
            >Guitarschool</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
