<footer
  class="bg-dark navbar-expand-lg bg-body-tertiary text-white"
  data-bs-theme="dark"
>
  <div class="container">
    <div class="row">
      <div class="col-sm text-center">
        {{ "nav.title" | translate }}<br />
        <a href="mailto: tom.frontz@gmail.com" class="text-white"
          >tom.frontz@gmail.com</a
        >
      </div>
      <div class="col-sm text-center">
        <ul style="list-style-type: none">
          <li>{{ "nav.navigation" | translate }}</li>
          <li class="small text-white">
            <a routerLink="/about" class="text-white">{{
              "nav.about" | translate
            }}</a>
          </li>
          <li class="small text-white">
            <a routerLink="/original-projects" class="text-white"
              >{{ "nav.original-projects" | translate }}
            </a>
          </li>

          <li class="small text-white">
            <a routerLink="/custom-music" class="text-white">{{
              "nav.custom-music" | translate
            }}</a>
          </li>
          <li class="small text-white">
            <a routerLink="/contact" class="text-white">{{
              "nav.contact" | translate
            }}</a>
          </li>
        </ul>
      </div>

      <div class="col-sm text-center">
        <a
          href="https://music.amazon.com/artists/B07VRXH5K2/tomasz-fr%C4%85czek"
          class="fa fa-amazon"
          target="_blank"
        ></a>
        <a
          href="https://www.youtube.com/@tomaszfraczek-music"
          class="fa fa-youtube"
          target="_blank"
        ></a>
        <a
          href="https://open.spotify.com/artist/16pQ7648P7gVfw4h2vDG8N"
          class="fa fa-spotify"
          target="_blank"
        ></a>
      </div>
    </div>
    <div class="text-center text-white">
      <hr />
      <a href="http://beinspired.com.pl" class="text-white" target="_blank"
        >Be Inspired</a
      >
      <span appCopyright></span>
    </div>
  </div>
</footer>
