<nav
  class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a
      class="navbar-brand d-sm-none d-md-block d-none d-sm-block"
      href="../index.html"
      style="margin-left: 50px"
      >Tomasz Frączek - kompozytor, instrumentalista</a
    >
    <a
      class="navbar-brand d-block d-sm-none"
      href="../index.html"
      style="margin-left: 50px"
      >Tomasz Frączek</a
    >
    <a
      class="navbar-brand d-none d-sm-block d-md-none"
      href="../index.html"
      style="margin-left: 50px"
      >Tomasz Frączek - kompozytor, instrumentalista</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="navbar-nav me-auto mb-2 mb-lg-0"></div>
      <div class="d-flex" role="search">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../index.html"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="about.html"
              >O sobie</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Muzyka
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="original_projects.html"
                  >Projekty autorskie</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="custom_music.html"
                  >Muzyka na zamówienie</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item" style="margin-right: 50px">
            <a class="nav-link" href="contact.php">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
