<nav
  class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a
      class="navbar-brand d-sm-none d-md-block d-none d-sm-block"
      routerLink="/"
      style="margin-left: 50px"
      >{{ 'nav.title' | translate}}</a
    >
    <a
      class="navbar-brand d-block d-sm-none"
      routerLink="/"
      style="margin-left: 50px"
      >Tomasz Frączek</a
    >
    <a
      class="navbar-brand d-none d-sm-block d-md-none"
      routerLink="/"
      style="margin-left: 50px"
      >{{ 'nav.title' | translate}}</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="navbar-nav me-auto mb-2 mb-lg-0"></div>
      <div class="d-flex" role="search">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../index.html"
              >Home</a
            >
          </li> -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/about"
              >{{ 'nav.about' | translate}}</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            {{ 'nav.music' | translate}}
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" routerLink="/original-projects"
                  >{{ 'nav.original-projects' | translate}}</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/custom-music"
                  >{{ 'nav.custom-music' | translate}}</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/contact">{{ 'nav.contact' | translate}}</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/basket">
            <i class="bi bi-basket3-fill"></i> - {{ numberOfItems() }}
            </a>
          </li>
          <li class="nav-item dropdown" style="margin-right: 50px">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink2"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span *ngIf="translate.currentLang == 'en'">English</span>
              <span *ngIf="translate.currentLang == 'pl'">Polski</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
              style="max-width: 20px;"
            >
              <li>
                <a class="dropdown-item" (click)="translate.use('pl')"
                  ><img src="assets/flags/pl.png"> Polski</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="translate.use('en')"
                  ><img src="assets/flags/gb.png"> English</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
